# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your Emory ID below

In [1]:
# Write your answer here:
print(2457321)

2457321

<font size = "5">

Import the "pandas", "sqlalchemy" and "URL" libraries <br>
(See Lecture 19)

In [2]:
# Write your answer here:
import pandas as pd
from sqlalchemy import create_engine
from   sqlalchemy.engine import URL
from   sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server and database ```formula1``` <br>
from Python as in Lecture 18 using <br>
```URL()``` and ```create_engine()```

In [3]:
# Write your own code

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'formula1',
    username = 'postgres',
    port = 5432,
    password  = 'zoey')

connection = create_engine(url_server)

<font size = "5">

In this homework, you will repeat the exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Remember that there is a special syntax for <br>
column names that have capital letters


<font size = "5">

(a) Import "lap_times.csv" and "drivers.csv"  

<font size = "3">

- Import the data using ```pd.read_csv()```
- Upload to the server using  ```.to_sql()```
- Upload the CSV files to the server, even if you already have the tables

In [13]:
# Write your own code

engine = create_engine('postgresql://postgres:zoey@localhost:5432/formula1')

lap_path = '/Users/havacollins/Desktop/qtm151_fall_2023/assingments/assignment9/data_raw/lap_times.csv'
drivers_path = '/Users/havacollins/Desktop/qtm151_fall_2023/assingments/assignment9/data_raw/drivers.csv'

lap_times = pd.read_csv(lap_path)
drivers = pd.read_csv(drivers_path)

lap_times.to_sql('lap_times', con=engine, if_exists='replace', index=False)
drivers.to_sql('drivers', con=engine, if_exists='replace', index=False)

857

<font size = "5">

(b) Subset and sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Use ```WHERE``` to get a subset of "drivers" with 
```nationality = 'American'```
- Chain this with ```ORDER BY surname ASC``` to sort in <br>
ascending order

HINT: Use single quotes inside a string as in Lecture 20

In [14]:
# Write your own code

query = """
SELECT * 
FROM drivers 
WHERE nationality = 'American' 
ORDER BY surname ASC;
"""

american_drivers = pd.read_sql(query, con=engine)

print(american_drivers)

     driverId       driverRef number code forename     surname         dob  \
0         796            ader     \N   \N     Walt        Ader  1913-12-15
1         615      agabashian     \N   \N     Fred  Agabashian  1913-08-21
2         517           amick     \N   \N      Red       Amick  1929-01-19
3         591    george_amick     \N   \N   George       Amick  1924-10-24
4         121        andretti     \N   \N  Michael    Andretti  1962-10-05
..        ...             ...    ...  ...      ...         ...         ...
153       449            ward     \N   \N   Rodger        Ward  1921-01-10
154       677            webb     \N   \N   Travis        Webb  1910-10-08
155       530          weiler     \N   \N    Wayne      Weiler  1934-12-09
156       563          weyant     \N   \N    Chuck      Weyant  1923-04-03
157       539  dempsey_wilson     \N   \N  Dempsey      Wilson  1927-03-11

    nationality                                            url
0      American         http://en.wikipedia.org/wiki/Walt_Ader
1      American   http://en.wikipedia.org/wiki/Fred_Agabashian
2      American         http://en.wikipedia.org/wiki/Red_Amick
3      American      http://en.wikipedia.org/wiki/George_Amick
4      American  http://en.wikipedia.org/wiki/Michael_Andretti
..          ...                                            ...
153    American       http://en.wikipedia.org/wiki/Rodger_Ward
154    American       http://en.wikipedia.org/wiki/Travis_Webb
155    American      http://en.wikipedia.org/wiki/Wayne_Weiler
156    American      http://en.wikipedia.org/wiki/Chuck_Weyant
157    American    http://en.wikipedia.org/wiki/Dempsey_Wilson

[158 rows x 9 columns]

<font size = "5">

(c) Count unique values

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Count the number of unique "driverId" using ```COUNT(DISTINCT ...)``` <br>
from the dataset "drivers"

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [16]:
# Write your own code
query = """
SELECT COUNT(DISTINCT "driverId") AS unique_driver_count
FROM drivers;
"""

unique_driver_count = pd.read_sql(query, con=engine)


print(unique_driver_count)

   unique_driver_count
0                  857

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Obtain the average of "milliseconds" by "driverId" using ```GROUP BY```
- User ```ORDER BY ``` to sort on the average of milliseconds

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [17]:
# Write your own code
query = """
SELECT "driverId", AVG(milliseconds) AS avg_milliseconds
FROM lap_times
GROUP BY "driverId"
ORDER BY avg_milliseconds;
"""

avg_milliseconds_by_driver = pd.read_sql(query, con=engine)

print(avg_milliseconds_by_driver)

     driverId  avg_milliseconds
0         851      63319.402299
1         850      80792.571429
2          72      82907.903226
3          43      86875.075472
4          31      86976.960138
..        ...               ...
132       810     108922.468668
133       816     110940.722915
134        34     114121.786207
135       827     129985.000000
136        28     235988.692308

[137 rows x 2 columns]

<font size = "5">

(e) Merge two tables

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Merge the tables "lap_times" (primary) and "drivers" (secondary) <br>
on "driverId" using ```LEFT JOIN``` on "driverId".

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [18]:
# Write your own code
query = """
SELECT *
FROM lap_times
LEFT JOIN drivers ON lap_times."driverId" = drivers."driverId";
"""

merged_data = pd.read_sql(query, con=engine)

print(merged_data)

        raceId  driverId  lap  position      time  milliseconds  driverId  \
0          841        20    1         1  1:38.109         98109        20
1          841        20    2         1  1:33.006         93006        20
2          841        20    3         1  1:32.713         92713        20
3          841        20    4         1  1:32.803         92803        20
4          841        20    5         1  1:32.342         92342        20
...        ...       ...  ...       ...       ...           ...       ...
538116    1096       822   53        16  1:32.998         92998       822
538117    1096       822   54        16  1:32.995         92995       822
538118    1096       822   55        16  1:31.236         91236       822
538119    1096       822   56        15  1:30.566         90566       822
538120    1096       822   57        15  1:30.743         90743       822

       driverRef number code   forename surname         dob nationality  \
0         vettel      5  VET  Sebastian  Vettel  1987-07-03      German
1         vettel      5  VET  Sebastian  Vettel  1987-07-03      German
2         vettel      5  VET  Sebastian  Vettel  1987-07-03      German
3         vettel      5  VET  Sebastian  Vettel  1987-07-03      German
4         vettel      5  VET  Sebastian  Vettel  1987-07-03      German
...          ...    ...  ...        ...     ...         ...         ...
538116    bottas     77  BOT   Valtteri  Bottas  1989-08-28     Finnish
538117    bottas     77  BOT   Valtteri  Bottas  1989-08-28     Finnish
538118    bottas     77  BOT   Valtteri  Bottas  1989-08-28     Finnish
538119    bottas     77  BOT   Valtteri  Bottas  1989-08-28     Finnish
538120    bottas     77  BOT   Valtteri  Bottas  1989-08-28     Finnish

                                                  url
0       http://en.wikipedia.org/wiki/Sebastian_Vettel
1       http://en.wikipedia.org/wiki/Sebastian_Vettel
2       http://en.wikipedia.org/wiki/Sebastian_Vettel
3       http://en.wikipedia.org/wiki/Sebastian_Vettel
4       http://en.wikipedia.org/wiki/Sebastian_Vettel
...                                               ...
538116   http://en.wikipedia.org/wiki/Valtteri_Bottas
538117   http://en.wikipedia.org/wiki/Valtteri_Bottas
538118   http://en.wikipedia.org/wiki/Valtteri_Bottas
538119   http://en.wikipedia.org/wiki/Valtteri_Bottas
538120   http://en.wikipedia.org/wiki/Valtteri_Bottas

[538121 rows x 15 columns]